.product {
    overflow: hidden;
  }
  
  .product-image {
    background-size: cover;
    background-position: center;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .product-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
    margin: 5rem 0;
    padding: 02rem 13rem;
    color: white;
    background: linear-gradient(125deg, var(--layer-color) 0 75%,  transparent 0% 100%);

  }

  .product-image-first {
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80dvh;
  }
  .product-text-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
    padding: 02rem 13rem;
    color: black;
    background: linear-gradient(125deg, white 0 65%,  transparent 0% 100%);
  }
  .product-text-first p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    font-family: 'roboto-light';
    line-height: 1.5;
    color: black;
    

  }
  .product-image-second {
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80dvh;
  }
  .product-text-second {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
    height: 100%;
  
    background: linear-gradient(125deg, white 0% 5%, transparent 0% 5%, transparent 45% 0%,  white 0% 60%);
  }
  .product-text-second p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    font-family: 'roboto-light';
    line-height: 1.5;
    color: black;
 

  }



  
  .producto-separator {
    margin: 10px 0;
  }
  
  .producto-description {
    padding: 10px;
    text-align: center;
  }
  
  /*.producto-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
  }
  
  .producto-grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .producto-grid-cell:hover {
    transform: scale(1.1);
  }
  
  .producto-grid-image {
    max-width: 100%;
    max-height: 100%;
  }*/

  .product-carousel{
    margin: 2rem auto;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
  }
  