.obra-container {
    max-width: 100%;
    margin: 0 auto;
   
  }
  
  .work-hero-carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 90px);
    overflow: hidden;
  }
  
  .work-carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
  }
  
  .work-carousel-text {
    position: absolute;
    bottom: 20px;
    left: 0px;
    color: white;
    background: var(--layer-color);
    padding: 20px;
   
  }
  
  .work-descriptive-text {
    height: 50vh;
    margin: 20px 0;
    text-align: center;
  
    font-size: 1.2em;
  }
  
  .work-services-section {
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url('https://lh3.googleusercontent.com/p/AF1QipMkzDfrCRb9M5bdoXV5Ai4wNwjMI5yWf3ameOoU=s1360-w1360-h1020') ;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  }
  .work-services-layer {
    background-color: var(--layer-color);
    height: 100%;
  }
  
  .work-services-section h2 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
  }
  
  .work-services-container {
    display: flex;
    justify-content: space-around;
  }
  
  .work-service {
    text-align: center;
    color: white;
    font-family: 'roboto-light';
  }
  
  .work-service-icon {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 0 auto 10px;
  }
  
  .work-image-separator {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 40px 0;
    background-image: url('https://betonmac.com/images/stories/com_form2content/p4/f14/40.jpg');
  }
  
  .work-centered-text-section {
    text-align: center;
    margin: 40px 0;
    height: 20vh;
  }
  