
.certification-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
   width: 100%;
   padding: 5rem 0;
   background-color: var(--background-color);
}

.cards-container-certification{
    display: flex;
    justify-content: center;
    height: 45rem; 
    width: 100%;
    padding: 4rem 1rem;
    
   /* background-color: rgb(17, 17, 49);*/
    gap: 1rem;
  }
  
  .card-certification {
    object-fit: cover;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    box-shadow: -2px 4px 30px 12px rgba(0,0,0,0.2);
    width: 25%;
  }
  
  
  
  .card-content-us {
    height: 100%;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .certification-title {
    margin-bottom: 1.6rem;
     font-family:'roboto-bold';
     text-align: left;
     color: var(--primary-color);
     opacity: 1;
     margin: 1rem 13rem;
    /* transform: translateX(-60px);*/
     transition: all 2s ease;
   }

   .certification-title ~ p  {
     text-align: left;
     font-family: 'roboto-light';
     line-height: 1.5;
     font-size: 1.3rem;
     color: black;
     margin: 0 13rem;
     opacity: 1;
     transition: all 3s ease;
   }