.history {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10rem 0;
    
    text-align: left;
    background-color: var(--background-color);
    
  }
  .history-title {
   margin: 1.6rem 13rem;
    font-family:'roboto-bold';
    text-align: left;
    color: var(--primary-color);
    opacity: 0;
    transform: translateX(-60px);
    transition: all 2s ease;
    
  }
  .history-title ~ p  {
    text-align: left;
    font-family: 'roboto-light';
    line-height: 1.5;
    font-size: 1.3rem;
    color: black;
    margin: 0 13rem;
    opacity: 0;
    transition: all 3s ease;
  }
  
.in-view-history {
  opacity: 1;
  transform: translateX(0);
  transition: all 2s ease;
}
.in-view-history ~ p {
  opacity: 1;
  transform: translateX(0);
  transition: all 3s ease;
}