.awards {
    display: flex;
    justify-content: space-around;
    height: 80dvh;
    width: 100%;
    background: url('https://betonmac.com/images/Imagenes/Portadas-plantas/portada-adaptacion.jpg') ;
    background-size: cover;
    overflow: hidden;
    
  }
  .award-container {
   width: 20rem;
   position: relative;
  }


  .awards-layer {
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: var(--layer-color);
  }
  .awards-prize {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
   
  }
 
  .award-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   margin-bottom: 1rem;
   opacity: 0;
   transform: scale(0%) ;
  }
  .award-image ~ h4 {
   opacity: 0;
  }


  .award-text{
   height: 2rem;
  font-family: 'roboto-light';
  
  }
.enter-right {
  animation: awards-move 2s ease ;
}
.exit-left {
  animation: awards-move-away 2s ease ;
}
  @keyframes awards-move {
    0% {
      /*transform: translateX(2000px) ;*/
      opacity: 0;
    }
    100% {
      /*transform: translateX(0);*/
      opacity: 1;
    }
    
  }
  @keyframes awards-move-away {
    0% {
      /*transform: translateX(0) ;*/
      opacity: 1;
    }
    100% {
     /* transform: translateX(-2000px);*/
      opacity: 0;
    }
    
  }

  .in-view-volumen {
    transition: all 1s ease;
    transform: scale(100%) translateY(0);;
    opacity: 1;
  }
  .in-view-trayectoria {
    transition: all 1.8s ease;
    transform: scale(100%) translateY(0);
    opacity: 1;
  }
  .in-view-internalizacion {
    transition: all 2.2s ease;
    transform: scale(100%) translateY(0);
    opacity: 1;
  }
  .in-view-fundador {
    transition: all 3s ease;
    transform: scale(100%) translateY(0);
    opacity: 1;
  }
  .in-view-volumen  ~ h4, 
  .in-view-trayectoria  ~ h4,
  .in-view-internalizacion  ~ h4,
  .in-view-fundador ~ h4 {
    opacity: 1;
    transition: all 4s ease;
  }