.services {
    display: flex;
    justify-content: space-around;
    height: 50dvh;
    width: 100%;
    padding: 5rem ;
    font-family: 'ultramagnetic-Regular';
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    
    
  }
  .institucional-service {
    width: 200px;
  }
  .institucional-service {
    width:  400px;
  }