.services {
    display: flex;
    justify-content: space-around;
    height: 50dvh;
    width: 100%;
    padding: 5rem ;
    align-items: center;
    text-align: center;
  }
  .services h4 {
    color: var(--primary-color);
  }
  .services p {
    font-family: 'roboto-light';
  }
  .institucional-service {
    width: 200px;
  }
  .institucional-service {
    width:  400px;
  }