.hero-count{
    background-color: white;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0;
      height: 20rem;
    }
  
    .hero-count-item{
      display: flex;
      gap: 20px;
      text-decoration: none;
    
    }
    .hero-count-item h4{
        
    font-family: "roboto-bold";
    color: var(--primary-color);
    font-size: 2rem;
    text-transform: capitalize;
    }
    .hero-count-item p{
        
      font-family: "roboto-bold";
      color: gray;
      
      
      }
      .paises-location{
        transform: translateY(-20px) translateX(-15px) scale(125%);
        filter: brightness(0.97);
        
        }
        
      .paises-moto {
       /transform: translateY(-25px) translateX(20px);
        
      }
  