
.background {
    background: url("/images/backgrounds/light-cement-pores.webp");
    background-size: cover;
    background-attachment:fixed ;
}
.home-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    height: 600px;
    background-color: var(--layer-color);
    
    font-family: 'roboto-medium';
    
}
.home-contact-title {
    align-self: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'roboto-bold';
    /*color: rgb(24, 24, 131);*/
    color: white;
    opacity: 0;
    transform: translateX(-60px);
    transition: all 2s ease;
}

.home-contact-subtitle {
    text-align: center;
    margin: 1rem auto;
    font-family: 'roboto-light';
    line-height: 1.5;
    font-size: 1.3rem;
    color: white;
    max-width: 60rem;
    opacity: 0;
    transition: all 3s ease;
}

.in-view-banner {
    opacity: 1;
    transform: translateX(0);
   
}
.hconsulta-button{
    opacity: 0;
    transform: scale(10%);
    transition: all 2s ease;
}

.in-view-banner ~ .hconsulta-button{
    opacity: 1;
    transform: scale(100%);
    transition: all 2s ease-in-out;
}

.in-view-banner ~ .home-contact-subtitle{
    opacity: 1;
    transition: all 2s ease-in-out;
}
