.home-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    height: 220px;
    background-color: white;
    color: black;
    font-family: 'roboto-medium';
    
}
.home-contact-title {
    align-self: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'roboto-medium';
    color: rgb(24, 24, 131);
}

.home-contact-subtitle {
    text-align: center;
    margin: 1rem 20rem;
    font-family: 'roboto-light';
    line-height: 1.5;
    font-size: 1.21rem;
}