.home-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 220px;
    background-color: white;
    color: black;
    font-family: 'roboto-light';
    text-transform: uppercase;
}
