.hero-container {
  position: relative;
  height: calc(100vh - 95px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  overflow: hidden;
}
.hero-video {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  z-index: -1; 
}

/*.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 0;
}*/

.hero-content {
  z-index: 1;
  margin: auto auto auto 120px;
  text-align: start;
}
.hero-button {
  height: 50px;
  width: 50px;
}

.hero-title {
  line-height: 1;
  font-size: 5rem;
  margin: 0;
  text-transform: uppercase;
  font-family: 'roboto-bold';
}

.hero-subtitle {
  color: white;
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
  font-family: 'roboto-medium';
}
.button-hexagon-white{
  display: flex;
  align-items: center;
  justify-items: center;
  height: 70px;
  width: 70px;
  background: url('/public/images/icons/button-white.png');
  background-size: cover ;
  transition: 0.5s;
  cursor: pointer;
}
.button-hexagon-white:hover{
  background: url('/public/images/icons/button-white-hover.png');
  background-size: cover ;
  transition: 0.5s;

}

