.hero-container {
  position: relative;
  height: calc(100vh - 95px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  overflow: hidden;
}
.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1; 
}

/*.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 0;
}*/

.hero-content {
  z-index: 1;
  margin: auto auto auto 120px;
  text-align: start;
}
.hero-button {
  height: 50px;
  width: 50px;
}

.hero-title {
  line-height: 1;
  font-size: 5rem;
  margin: 0;
  text-transform: uppercase;
  font-family: 'roboto-bold';
}

.hero-subtitle {
  color: white;
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
  font-family: 'roboto-medium';
}
button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #003084;
  font-family: 'roboto-bold';
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  margin-top: 2rem;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #FF9900;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: black;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
