.home-news {
    padding: 5rem 0;
}
.home-news h2{
    margin:  0 13rem 2rem ;
}
.rotation {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 50vh;
    align-items: center;
    justify-content: center;
    
  }


  .rotation-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 13rem ;
    gap: 2rem;
    object-fit: cover;
  }
  
  .rotation-content {
    gap: 1rem;
    line-height: 1.2;
  }
  .rotation-content p{
   font-size: 1.3rem;
   font-family: 'roboto-light';
   margin-top: 1rem;
  }
  
  .rotation-slide img {
    height: 400px;
    object-fit: cover;
    width: 600px;
    
  }
  
 /* button {
    position: absolute;
    top: 50%;
    
  
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  button:nth-of-type(1) {
    left: 0;
    transform: translateY(-50%);
  }
  
  button:nth-of-type(2) {
    right: 0;
    transform: translateY(-50%) 
  }*/
  