.home-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin: auto 10rem;
  align-items: center;
}
.home-products-cards{
  display: flex;
  height: 20rem;
  width: 40rem;
  background: linear-gradient(90deg, #0069FF,#0093ff);
  border-radius: 2rem;
  box-shadow: -2px 4px 30px 12px rgba(0,0,0,0.2);
  padding: 2rem;
  justify-content: space-between;
  
  }
  .home-products-cards:hover{
    background: linear-gradient(90deg, #e27200,#FF9900);
    
  }
  
  .home-products-cards:hover .home-product-image {
    filter: drop-shadow(10px 10px 10px #755518);
  }
  .home-product-content{
    display: flex;
    flex-direction: column;
  }

  .home-product-image {
    filter: drop-shadow(10px 10px 10px #282888);
  }
  .home-product-title {
    color: white;
    font-family: 'roboto-bold';
    text-transform: uppercase;
    font-size: 2rem;
  }

 

  
  .product-cell {
    font-family: 'roboto-medium';
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    color: rgb(255, 255, 255);
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 100%;
  }

 
  .product-title {
    position: relative;
    z-index: 1;
    font-size: 32px;
    margin: 20px;
  }
  