.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* background-color: rgb(17, 17, 49);*/
    /*background-color: var(--primary-color);*/
    background-size: cover;
    background-position: top;
    
  height: 90px;
    ;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 8rem;
    transform: scale(75%);
}

.logo-text span:nth-child(1) { --i: 0; }
.logo-text span:nth-child(2) { --i: 1; }
.logo-text span:nth-child(3) { --i: 2; }
.logo-text span:nth-child(4) { --i: 3; }
.logo-text span:nth-child(5) { --i: 4; }
.logo-text span:nth-child(6) { --i: 5; }
.logo-text span:nth-child(7) { --i: 6; }
.logo-text span:nth-child(8) { --i: 7; }

.logo-text {
    text-decoration: none;
    color: var(--primary-color);
    font-family: 'ultramagnetic';
    text-transform: uppercase;
    font-size: 47px;
   margin-left: 4px;
  
}

.logo-text span{
  transition: color 0.2s;
  animation: logo-text-animation 1s forwards; /* Aplica la animación de desvanecimiento */
  animation-delay: calc(var(--i) *  0.12s);
  opacity: 0;
}

/*.logo-text span:hover  {
  color: white;
  transition: color 0.2s;
  color: #FF9900;
}

.logo-text:hover ~ .parallelogram-container .parallelogram  {
  background-color: #FF9900;
}*/

@keyframes logo-text-animation  {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}



.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
    margin-right: 100px;
    gap: 30px;
}

.nav-item {
   
    padding-bottom: 6px;
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    display: inline-block; 
    position: relative; 
    text-decoration: none;
    cursor: pointer;
    font-family: 'roboto-regular';
}
.nav-item:hover {
 
  font-family: 'roboto-medium';
}


.nav-item::after {
    content: '';
    
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.6px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom left;
    transition: transform 0.4s ease-out;
  }
  
  /* Efecto de hover */
  .nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



.nav-item:last-child {
    border-right: none;
}

@media screen and (max-width: 768px) {

    /*.navbar {
        flex-direction: row;
        align-items: stretch;
        padding: 1rem;
    }*/

   

    .nav-item {
        padding: 0.5rem 1rem;
        border-right: none;
        font-size: 12px;
        border-bottom: 1.5px solid #000000;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }

}


