.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #183A64;
    background-size: cover;
    background-position: top;
    padding: 5px 20px;
    font-family: 'roboto-light';
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}


.logo-text {
    text-decoration: none;
    color: white;
    font-family: 'ultramagnetic';
    text-transform: uppercase;
    font-size: 47px;
    margin-left:-85px ;
    animation: logo-text-animation 3s ease 0s 1 normal none;
    transition: color 0.2s;
}
.logo-text span{
  transition: color 0.2s;
}
/*.logo-text span:hover  {
  color: white;
  transition: color 0.2s;
  color: #FF9900;
}

.logo-text:hover ~ .parallelogram-container .parallelogram  {
  background-color: #FF9900;
}*/

@keyframes logo-text-animation  {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.logo img {
    text-decoration: none;
    color: #260E17;
    max-width: 250px;
   
    margin-left: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
    
    margin-right: 100px;
}

.nav-item {
    margin: 18px;
    padding-bottom: 6px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: inline-block; 
    position: relative; 
    text-decoration: none;
    cursor: pointer;
    font-family: 'roboto-light';
}

.nav-item::after {
    content: '';
    
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.6px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.4s ease-out;
  }
  
  /* Efecto de hover */
  .nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



.nav-item:last-child {
    border-right: none;
}

@media screen and (max-width: 768px) {

    /*.navbar {
        flex-direction: row;
        align-items: stretch;
        padding: 1rem;
    }*/

    .logo {
        /*margin-bottom: 1rem;*/
        display: flex;
        align-items: center;
    }

    .logo img {
        text-decoration: none;
        color: #260E17;
        /*max-width: 100%;
        max-height: 100%;*/
    }

    .nav-item {
        padding: 0.5rem 1rem;
        border-right: none;
        font-size: 12px;
        border-bottom: 1.5px solid #000000;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }

}


.parallelogram-container {
    position: relative;
    width: 200px; 
    margin: 0;
    
  }
  
  .parallelogram {
    width: 38px; 
    height: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px; 
    font-weight: bold;
    position: absolute;
    border-radius: 0 4px 1px 0; 
    background-color: white;
    transition: 0.2s;
  }
  .parallelogram:hover{
    background-color: #FF9900;
    transition: 0.2s;
  }
  /*.parallelogram-container:hover .parallelogram{
    background-color: #FF9900;
    transition: 0.2s;
  }*/
  
  .parallelogram-a {
    
    transform: rotate(-30deg) skew(-30deg); 
    top: -29px; 
    left: 31px;
    animation: left-animation-logo 3s ease 0s 1 normal none;
  }
  
  .parallelogram-c {
    
    transform: rotate(-30deg) skew(-30deg); 
    top: -9px; 
    left: 31px; 
    z-index: 1; 
    animation: left-animation-logo 3s ease 0s 1 normal none;
  }
  @keyframes left-animation-logo {
	0% {
		opacity: 0;
		transform: translateX(-50px) translateY(30px) rotate(-30deg) skew(-30deg); 
	}

	100% {
		opacity: 1;
		transform: translateX(0px) translateY(0) rotate(-30deg) skew(-30deg);
	}
}
  
  .parallelogram-b {
    
    transform: rotate(90deg) skew(-30deg); 
    top: -23.5px; 
    left: 58px; 
    animation: top-animation-logo 2.2s ease 0s 1 normal none;
  }
  
  .parallelogram-d {
    
    transform: rotate(90deg) skew(-30deg); 
    top: -13.5px; 
    left: 76px;
    animation: top-animation-logo 2.2s ease 0s 1 normal none;
  }
  @keyframes top-animation-logo {
	0% {
		opacity: 0;
		transform: translateY(-50px) rotate(90deg) skew(-30deg); 
	}

	100% {
		opacity: 1;
		transform: translateY(0) rotate(90deg) skew(-30deg);
	}
}
  
  .parallelogram-f {
    
    transform: rotate(210deg) skew(-30deg); 
    top: 7px; 
    left: 57px; 
    animation: right-animation-logo 2.4s ease 0s 1 normal none;
  }
  .parallelogram-e {
    
    transform: rotate(210deg) skew(-30deg); 
    top: 17px; 
    left: 39.5px; 
    animation: right-animation-logo 2.4s ease 0s 1 normal none;
  }
  @keyframes right-animation-logo {
	0% {
		opacity: 0;
		transform: translateX(50px) translateY(30px) rotate(210deg) skew(-30deg); 
	}

	100% {
		opacity: 1;
		transform: translateX(0px) translateY(0) rotate(210deg) skew(-30deg);
	}
}