.contact-container {
    padding: 20px;
  }

  .contact-title{
    font-size: 26px;
    text-align: center;
  }
  
  .contact-main-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 20px;
  }
  
  .contact-card {
    background-position: center;
    background-size: cover;
    
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  
  .contact-card h3 {
    margin-bottom: 10px;
    height: 20rem;
  }
  
  .contact-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  .contact-content {
    width: 100%;
    height: 100%;
    background-color: #111f2d6e;
  }
  .contact-card:hover .contact-details {
   
  }
  .contact-link {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    padding: 5px 0;
  }
  
  .contact-link:hover {
    text-decoration: underline;
  }
  
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
  }