

 
 
  .contact-link {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    padding: 5px 0;
  }
  
  .contact-link:hover {
    text-decoration: underline;
  }
  
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
  }

  /*.harallelogram-checkbox {
   transform: scale(250%) translateY(-10px);
   z-index: 1;
   position: relative;
   cursor: pointer;
  }

  .harallelogram-checkbox .harallelogram {
    z-index: 2;
  transition: box-shadow 2s ease;
  
 
 
  }
  .harallelogram-checkbox:hover .harallelogram {
    z-index: 2;
  transition: box-shadow 1s ease;
  box-shadow: 0 0 0.2rem 1px rgb(235, 235, 236);
  
  }
    .selected .harallelogram {
    z-index: 2;
  transition: box-shadow 1s ease;
  box-shadow: 0 0 0.2rem 1px rgb(218, 217, 217);
  
  }
  .selected:hover .harallelogram {
    z-index: 2;
  transition: box-shadow 1s ease;
  box-shadow: 0 0 0.2rem 1px rgb(218, 217, 217);
  
  }
  .harallelogram-checkbox:hover .contact-main-title{
    z-index: 2;
  transition: box-shadow 1s ease;
 
  }*/
  

 
  .fabric-list {
    display: flex;
    flex-direction: column;
    
  }
  .fabric-details {
    display: flex;
    flex-direction: column;
    border-bottom: #c7def7 1px solid;
   
    max-width: 30rem;
    height: 5rem;
  }
  .contact-fabric {
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 5rem;
    width: 100%;
    background-color: var(--background-color);
  }
  .fabric-details h4 {
font-size: 1.5rem;
font-family: 'roboto-light';
  }
  .fabric-details a {
    text-decoration: none;
    color: black;
    font-family: 'roboto-light';
  }