
.footer-layer{
  
  padding-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
 }
  
  .footer-left,
  .footer-center,
  .footer-right {
    display: flex;
    flex-direction: column;
    
    width: 100%;
  }
  .footer-center{
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
 
    
  .footer-legal {
    color: white;
    text-decoration: none;
    margin-top: 5px;
    font-family: 'roboto-light';
  }
  

  .footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  
  .footer-social-link {
    color: white;
    width: 40px;
    filter: invert(100%);
    font-size: 1.5rem;
    text-decoration: none;
    transition: filter 0.2s ease-in-out;
    cursor: pointer;
  }
  
   
  .footer-social-link:hover {
    filter: invert(58%) sepia(100%) saturate(400%) hue-rotate(2deg) brightness(100%) contrast(103%);
    transition: filter 0.2s ease-in-out;
  }
  
  .footer-location-icon {
    font-size: 1.5rem;
  }
  
  .footer-address,
  .footer-phone {
   width: 100%;
    font-family: 'roboto-light';
    text-transform: uppercase;
  }
  .footer {
    padding: none;
    width: 100%;
    height: 350px;
    display: flex;
    background-color: var(--footer-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  

 
  
  

  
  .footer-address,
  .footer-phone {
    margin: 5px 0;
    text-align: center;
  }
  .nav-links-footer {
    display: flex;
    gap: 0.5rem;
    
  }
  .nav-item-footer {
    text-decoration: none;
    font-family: 'roboto-light';
    text-transform: uppercase;
    color: white;
  }
  .nav-item-footer:hover {
    color: #FF9900;
    
  }

  .scale {
    transform: scale(2)  translateY(40px);

  }

  .farallelogram-container {
    position: relative;
    width: 75px; 
    height: 70px;
    margin: 0;
    
  }
  
  .farallelogram {
    width: 38px; 
    height: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px; 
    font-weight: bold;
    position: absolute;
    border-radius: 0 4px 1px 0; 
    background-color:white;
    transition: 0.2s;
  }
  .farallelogram:hover{
    background-color: var(--secondary-color);
    transition: 0.2s;
    cursor: pointer;
  }
  /*.parallelogram-container:hover .parallelogram{
    background-color: #FF9900;
    transition: 0.2s;
  }*/
  
  .farallelogram-a {
    
    transform: rotate(-30deg) skew(-30deg); 
    
   
    
    view-timeline-name: --reveal;
    animation-name:  left-animation-logo;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 5% cover 15%; 
  }
  
  .farallelogram-c {
    
    transform: rotate(-30deg) skew(-30deg); 
    top: 20px; 
    
    z-index: 1; 
    view-timeline-name: --reveal;
    animation-name:  left-animation-logo;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 5% cover 15%; 
  }
  @keyframes left-animation-logo {
	0% {
		opacity: 0;
		transform: translateX(-25px) translateY(15px) rotate(-30deg) skew(-30deg); 
	}

	100% {
		opacity: 1;
		transform: translateX(0px) translateY(0) rotate(-30deg) skew(-30deg);
	}
}
  
  .farallelogram-b {
    
    transform: rotate(90deg) skew(-30deg); 
    top: 6px; 
    left: 26.5px; 
    view-timeline-name: --reveal;
    animation-name:  top-animation-logo;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 5% cover 15%; 
  }
  
  .farallelogram-d {
    
    transform: rotate(90deg) skew(-30deg); 
    top: 16px; 
    left: 44px;
    view-timeline-name: --reveal;
    animation-name:  top-animation-logo;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 5% cover 15%; 
  }
  @keyframes top-animation-logo {
	0% {
		opacity: 0;
		transform: translateY(-25px) rotate(90deg) skew(-30deg); 
	}

	100% {
		opacity: 1;
		transform: translateY(0) rotate(90deg) skew(-30deg);
	}
}
  
  .farallelogram-f {
    
    transform: rotate(210deg) skew(-30deg); 
    top: 36px; 
    left: 25px; 
    view-timeline-name: --reveal;
    animation-name:  right-animation-logo;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 5% cover 15%; 
    
  }
  .farallelogram-e {
    
    transform: rotate(210deg) skew(-30deg); 
     top: 46px; 
      left: 8px; 
    view-timeline-name: --reveal;
    animation-name:  right-animation-logo;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 5% cover 15%; 
  }
  @keyframes right-animation-logo {
	0% {
		opacity: 0;
		transform: translateX(25px) translateY(15px) rotate(210deg) skew(-30deg); 
	}

	100% {
		opacity: 1;
		transform: translateX(0px) translateY(0) rotate(210deg) skew(-30deg);
	}
}