.institucional-container {
    width: 100%;
    
  }
  .hero-image {
    background-color:var(--layer-color);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-section {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('https://betonmac.com/images/Imagenes/Empresa/Fabrica01.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .institucional-hero-text h1  {
    line-height: 1;
    margin: 0;
 
  }
  .institucional-hero-text h3{
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-family: 'roboto-medium';
  }
  .institucional-description {
    padding: 100px 250px;
    font-family: 'roboto-medium';
    font-size: 1.5rem;
    text-align: center;
  }
  
  .article-container {
    display: flex;
    justify-content: center;
    height: 600px; 
    width: 100%;
    padding: 20px 40px ;
   
    
  }
  
  .article {
    position: relative;
    flex: 1;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    
  }
  
 
  
  .article-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: rgba(52, 45, 105, 0.521);
  }
  .article-content h3 {
    align-self: center;
    font-family: 'roboto-bold';
   
  }
  .article-content p {
    font-family: 'roboto-medium';
    font-size: 1.4rem;
    color: white;
    text-align: left;
    padding: 2rem;
  }
  .article:hover {
    transform: scale(1.1);
    height: 100%;
    z-index: 2;
   
  }
   .article-content:hover{
    
    background-color: rgba(7, 3, 37, 0.863);
  }
  
  .article:hover .card-text {
    display: none;
    opacity: 0;
  }
  
  .article:hover .card-text-extended {
    display: block;
    opacity: 1;
  }
  
  .card-especializacion{
    background: url('https://betonmac.com/images/Imagenes/Empresa/Inicios.JPG');
  }
  .card-ingenieria{
    background: url('https://betonmac.com/images/Imagenes/Empresa/Belomonte-SMALL.jpg');
    background-size: cover;
    
  }
  .card-diversificacion{
    background: url('https://betonmac.com/images/Imagenes/Empresa/Plaqueta2.jpg');
  }

 .card-content-us{
    color: black;
    height: 100%;
 }
  
  .short-text {
    display: block;
    color: black
  }
  
  .full-text {
    display: none;
    color: black
  }
  .article:hover {
    z-index: 2;
  }
  .article:hover .short-text {
    display: none;
    color: black
  }
  
  .article:hover .full-text {
    display: block;
  }
  

  
  .institucional-separator {
    width: 100%;
    height: 200px;
    background: url('https://betonmac.com/images/Imagenes/Dispositivas/principal/camposnovos.jpg') no-repeat center center/cover;
    margin: 20px 0;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    
  }
  
  .history {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;
    font-family:'roboto-light';
    text-align: center;
    background-color: var(--background-color);
    
  }
  .history h2 {
   margin-bottom: 1.6rem;
    font-family:'roboto-bold';
    text-align: center;
    color: var(--primary-color);
  }
  .history p  {
    text-align: center;
    font-family: 'roboto-light';
    line-height: 1.5;
    font-size: 1.3rem;
    color: black;
    max-width: 60rem;
    /*opacity: 0;
  */
    transition: all 3s ease;
  }
  
  .institucional-history {
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 22, 63, 0.867);
    font-family: 'roboto-bold';
    font-size: 4rem;
  }
  
  .services {
    display: flex;
    justify-content: space-around;
    height: 50dvh;
    width: 100%;
    padding: 5rem ;
    font-family: 'ultramagnetic-Regular';
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    color: #003084;
    
    
  }
  .awards {
    display: flex;
    justify-content: space-around;
    height: 80dvh;
    width: 100%;
    background: url('https://betonmac.com/images/Imagenes/Portadas-plantas/portada-adaptacion.jpg') ;
    background-size: cover;
    overflow-x: hidden;
    
  }
  .award-container {
   width: 20rem;
   position: relative;
  }

  .award-container p {
    text-wrap: nowrap;
    position: absolute;
    width: 1px;
    bottom: -200px;
    /*left: 1000px;*/
    opacity: 0;
    font-family: 'roboto-light';
    font-size: 1.2rem;
    animation: awards-move-away 1s ease;
    z-index: -1;
    transition: z-index 1s ease;
   }
   .award-container:hover p {
    text-wrap: nowrap;
    position: absolute;
    bottom: -200px;
    /*left: -20px;
    /*opacity: 1;*/
    /*transition: left 1s ease, opacity 0.5s ease;*/
    opacity: 1;
    z-index: 0;
    animation: awards-move 1s ease;
   }
   .award-text-trayectoria{
    left: -800px;
   }
   .award-text-internalizacion{
    left: -400px;
   }

   .award-text-fundador{
   
    left: -1100px;
   }



@keyframes awards-move {
  0% {
    transform: translateX(2000px) ;
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  
}
@keyframes awards-move-away {
  0% {
    transform: translateX(0) ;
    opacity: 1;
  }
  100% {
    transform: translateX(-2000px);
    opacity: 1;
  }
  
}
  .awards-layer {
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: var(--layer-color);
  }
  .awards-prize {
    display: flex;
   
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
   
  }
 
  .award-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   margin-bottom: 1rem;
  }


  

/*.harallelogram-service {
  filter: invert(49%) sepia(100%) saturate(400%) hue-rotate(2deg) brightness(100%) contrast(103%);
}*/
.service-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-container-certification{
  display: flex;
  justify-content: center;
  height: 45rem; 
  width: 100%;
  padding: 4rem 1rem;
  background-color: rgb(245, 245, 253);
 /* background-color: rgb(17, 17, 49);*/
  gap: 1rem;
}

.card-certification {
  object-fit: cover;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  box-shadow: -2px 4px 30px 12px rgba(0,0,0,0.2);
  width: 25%;
}



.card-content-us {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
