.map-container {
    background-color: rgba(21, 41, 104, 0.431);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.map-container path {
    fill: var(--underline-color);
    stroke: #6b6f92;
    stroke-width: 1px;

}

.map-container a:hover path {
    fill: var(--secondary-color);
    stroke-width: 2px;
}

.map-container svg {
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    flex-wrap: wrap;
    animation: title-entrance 1.5s ease;
}



@keyframes title-entrance {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    50% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes subtitle-entrance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pins {
    transform: translateZ(0);
}

.beton-country path {
    fill: #424b9e;
}


.country-list {
    margin-right: 150px;
}

.country-list ul {
    list-style-type: none;
    padding: 0;
    animation: subtitle-entrance 3.5s ease-in-out;
}

.country-list li {
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    color: #fff;
    white-space: nowrap;
    font-family: 'roboto-bold';
}

.country-list li::before {
    content: '';
    display: inline-block;
    background-image: url('/images/icons/Beton2.webp');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}



.country-list li.highlight {
    color: var(--secondary-color);

}