/* Box.css */
.box-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin:3rem auto;
    padding: 3rem;
    background-color: white;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'roboto-light';
    text-transform: uppercase;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    text-decoration: none;
    
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid var(--underline-color);
    border-radius: 4px;
  }
  
  textarea {
    resize: vertical;
  }
  
 .button-form-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
 }