.contact-header {
    background: url('https://betonmac.com/images/Imagenes/Dispositivas/principal/NM-120-SLIDE.jpg');
    height: 50vh;
}
.contact-header-layer {
    background-color:var(--layer-color) ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 13rem;
}
.contact-header-title {
    color: white;
    animation: title-entrance 2.5s ease;
    text-transform: uppercase;
    
}
.contact-header-subtitle {
    text-align: left;
    color: white;
    font-family: 'roboto-medium';
    font-size: 1.6rem;
    animation: subtitle-entrance 2s ease-in-out;
}