.section-fabric {
  background: url('https://lh3.googleusercontent.com/p/AF1QipMTvdODGNr6j_4G8ZsHDdPJSzjPmobIS3tl2lSH=s1360-w1360-h1020');
}
.contact-fabric {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   padding: 5rem;
    width: 100%;
    height: 100%;
    background-color: var(--layer-color);
  }
  .contact-fabric h2 {
    text-transform: uppercase;
    font-family: 'roboto-bold';
    color: white;
   /* opacity: 0;
    transform: translateX(-60px);*/
    margin-bottom: 5rem;
    transition: all 1s ease;
  }
  
  .contact-fabric p  {
    text-align: center;
    margin: 1rem auto;
    font-family: 'roboto-light';
    line-height: 1.5;
    font-size: 1.3rem;
    color: white;
    max-width: 60rem;
    /*opacity: 0;
  
    transition: all 3s ease;*/
  }
 
.fabric-list {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    gap: 1rem;
    height: 100%;
    margin-bottom: 7rem;
  }
  .fabric-card{
    display: flex;
    flex-direction: column;
    /*background-color: white;*/
    align-items: center;
    justify-content: center;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    padding: 0.4rem;
    height: 100%;
    gap: 1rem;
    width: 21rem;
    height: 15rem;
  }

  .fabric-card img{
    width: 70px;
    height: 70px; 
  }
  .fabric-details {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
   align-items: center;
   justify-content: center;
    max-width: 30rem;
   
  }

  .fabric-details h4 {
    color: white;
font-family: 'roboto-light';
  }
  .fabric-details a {
    text-decoration: none;
    color: white;
    font-family: 'roboto-light';
  }
