.contact-main-title {
    position: relative;
    z-index: 3;
    transform: translateY(21px);
   color: var(--primary-color);
  }

  .contact-region {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    text-transform: uppercase;
    margin: 10rem;
    font-family: 'roboto-bold';
    font-size: 6px;
  }
  .contact-title{
    font-size: 26px;
    text-align: center;
  }
  
  .contact-main-title {
    text-align: center;
    font-size: 0.6rem;
    margin-bottom: 20px;
  }
  
  .contact-list {
    display: flex;
    flex-direction: column;
    
  }
  .contact-details {
    margin:  auto ;
    width: 75%;
    list-style: none;
    
  }
  .contact-summary {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    cursor: pointer;
    background-color: white;
    border-bottom: #c7def7 1px solid;
    position: relative;
   height: 100%;
   padding: 2rem;
  }
  .summary-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'roboto-light';
    
  }

/* CARDS INDIVIDUALES POR ACA*/
.contact-card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2rem
}
.contact-card {
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 40rem;
  border: #c7def7 1px solid; 
  font-family: 'roboto-light';
  padding: 2rem;
  margin: 1rem;
}
.contact-card-top {
  display: flex;
 flex-direction: column;
  text-align: start;
  gap: 0.5rem;
}
.contact-card-top p {
  font-size: 1.5rem;
}
.contact-card-top h6 {
  font-size: 3rem;
}

.contact-card-bottom {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
  margin-top: 0.5rem;
  
}
.contact-card img{
transform: translateY(5px);
margin-right: 0.5rem;  
}
.contact-card  a{
 text-decoration: none;
 color: black;
 font-size: 1.1rem;
 
}

.contact-card-bottom-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.5rem;
}
.contact-card-bottom-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

/*<img src={contact.image} alt={contact.company} />/*