.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.country-section {
    margin-bottom: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-auto-rows: 200px;
    gap: 10px;
}

.grid-item {
    position: relative;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.importance-1 {
    grid-column: span 2;
    grid-row: span 2; 
}

.importance-2 {
    grid-column: span 2; 
    grid-row: span 1;
}

.importance-3 {
    grid-column: span 1; 
    grid-row: span 1; 
}

.portfolio-card-figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1; 
    height: 100%; 
    
}

.portfolio-card-name {
    margin-top: 5px;
    font-size: 20px;
    color: #fff;
    position: relative;
    z-index: 2; 
    font-family: 'roboto-bold';
}
