*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #010A66;
  --secondary-color: #FF9900;
  --underline-color: #c7def7;
  --layer-color: rgba(22, 22, 63, 0.867);
  --background-color: rgb(245, 245, 253);
  --footer-color: #1d2738;
}


@font-face {
  font-family: 'ultramagnetic';
  src: url('/fonts/ultramagnetic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-light';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-medium';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ultramagnetic-regular';
  src: url('/fonts/Ultramagnetic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}