
/*Boton blanco*/
.button-hexagon-white{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 70px;
    width: 70px;
    background: url('/images/icons/button-yellow.png');
    background-size: cover ;
    cursor: pointer;
    transition: 0.1s; 
    
    
  }

  .hero-button {
    margin-top: 1rem;
    animation: button-entrance 3s ease-in-out ; 
  }
  @keyframes button-entrance {
    0% {
      opacity: 0;
      transform: scale(10%);
    }
    60% {
      opacity: 0;
      transform: scale(10%);
    }
    100% {
      opacity: 1;
      transform: scale(100%);
    }
  }

  .button-hexagon-white .harallelogram {
    background-color: var(--secondary-color);
  }
  .button-hexagon-white:hover{
    background: none;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .button-hexagon-white:hover .harallelogram-container{
  opacity: 1;
  transition: 1s;
  }
  .button-hexagon-white:hover .harallelogram-c {
    animation: left-animation-logo 0.3s ease-in-out 0s 1 normal none;
  }
  .button-hexagon-white:hover .harallelogram-a {
    animation: left-animation-logo 0.3s ease-in-out 0s 1 normal none;
  }
  .button-hexagon-white:hover .harallelogram-b {
    animation: top-animation-logo 0.5s ease-in-out 0s 1 normal none;
  }
  .button-hexagon-white:hover .harallelogram-d {
    animation: top-animation-logo 0.5s ease-in-out 0s 1 normal none;
  }
  .button-hexagon-white:hover .harallelogram-e {
    animation: right-animation-logo 0.7s ease-in-out 0s 1 normal none;
  }
  .button-hexagon-white:hover .harallelogram-f {
    animation: right-animation-logo 0.7s ease-in-out 0s 1 normal none;
  }
  .button-hexagon-white:hover .button-hexagon-full {
    opacity: 1;
    transition: opacity 1s ease-in;
   }

 
  /*Boton summary*/
  .summary-button {
    position: absolute;
    right: 2rem;
    transform: scale(60%) translateY(-1rem);
   /* filter: invert(49%) sepia(100%) saturate(400%) hue-rotate(2deg) brightness(100%) contrast(103%);*/
   
  }
  .button-hexagon-blue{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 70px;
    width: 70px;
    background: url('/images/icons/button-blue-top.png');
    background-size: cover ;
    cursor: pointer;
    transition: 0.1s;  
  }
 .contact-details .harallelogram {
    background-color:#010A66;
  }
  
  .contact-details[open] .harallelogram-c {
    animation: left-animation-logo 0.3s ease-in-out 0s 1 normal none;
  }
  .contact-details[open] .harallelogram-a {
    animation: left-animation-logo 0.3s ease-in-out 0s 1 normal none;
  }
  .contact-details[open] .harallelogram-b {
    animation: top-animation-logo 0.5s ease-in-out 0s 1 normal none;
  }
  .contact-details[open] .harallelogram-d {
    animation: top-animation-logo 0.5s ease-in-out 0s 1 normal none;
  }
  .contact-details[open] .harallelogram-e {
    animation: right-animation-logo 0.7s ease-in-out 0s 1 normal none;
  }
  .contact-details[open] .harallelogram-f {
    animation: right-animation-logo 0.7s ease-in-out 0s 1 normal none;
    
  }
  .contact-details[open]{
    background: none;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .contact-details[open] .harallelogram-container{
  opacity: 1;
  transition: 1s;
  }
  .contact-details[open] .button-hexagon-full {
    opacity: 1;
    transition: opacity 1s ease-in;
    transform: scale(-100%) translateX(3.5px) translateY(11.7px);;
   }


/* PARALELOGRAMO */
  .harallelogram-container {
    position: relative;
    width: 75px; 
    height: 70px;
    margin: 0;
   
   
  }
  
  .harallelogram {
    width: 38px; 
    height: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px; 
    font-weight: bold;
    position: absolute;
    border-radius: 0 4px 1px 0; 
    transition: 0.2s;
  }
  
  /*.parallelogram-container:hover .parallelogram{
    background-color: #FF9900;
    transition: 0.2s;
  }*/
  
  .harallelogram-a {
    transform: rotate(-30deg) skew(-30deg); 
    
  }
  
  .harallelogram-c {
    transform: rotate(-30deg) skew(-30deg); 
    top: 20.5px; 
   
  }
  .animation-button-left {
    animation: left-animation-logo-out 0.5s ease-in-out 0s 1 normal none;
  }
  
  
  @keyframes left-animation-logo-out {
    0% {
      opacity: 1;
      transform: translateX(0px) translateY(0) rotate(-30deg) skew(-30deg);
    }
    100% {
      opacity: 0;
      transform: translateX(-25px) translateY(15px) rotate(-30deg) skew(-30deg); 
    }
  
    
    }
  
  @keyframes left-animation-logo {
  0% {
    opacity: 0;
    transform: translateX(-25px) translateY(15px) rotate(-30deg) skew(-30deg); 
  }
  
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0) rotate(-30deg) skew(-30deg);
  }
  }
  
  .harallelogram-b {
    
    transform: rotate(90deg) skew(-30deg); 
    top: 5.2px; 
    left: 26.5px; 
  }
  
  .harallelogram-d {
    
    transform: rotate(90deg) skew(-30deg); 
    top: 15.5px; 
    left: 44.3px;
  }
  
  .animation-button-top{
    animation: top-animation-logo-out 0.5s ease-in-out 0s 1 normal none;
  }
  
  @keyframes top-animation-logo-out {
    0% {
      opacity: 1;
      transform: translateY(0) rotate(90deg) skew(-30deg);
    }
  
    100% {
      opacity: 0;
      transform: translateY(-25px) rotate(90deg) skew(-30deg); 
    }
    
    
    }
  @keyframes top-animation-logo {
  0% {
    opacity: 0;
    transform: translateY(-25px) rotate(90deg) skew(-30deg); 
  }
  
  100% {
    opacity: 1;
    transform: translateY(0) rotate(90deg) skew(-30deg);
  }
  }
  
  .harallelogram-f {
    transform: rotate(210deg) skew(-30deg); 
    top: 36px; 
    left: 26.5px; 
  }
  .harallelogram-e {
    transform: rotate(210deg) skew(-30deg); 
     top: 46.25px; 
      left: 8.8px; 
  }
  .animation-button-right{
    animation: right-animation-logo-out 0.5s ease-in-out 0s 1 normal none;
  }
  
  @keyframes right-animation-logo-out {
    0% {
      opacity: 1;
      transform: translateX(0px) translateY(0) rotate(210deg) skew(-30deg);
    }
    100% {
      opacity: 0;
      transform: translateX(25px) translateY(15px) rotate(210deg) skew(-30deg); 
    }
    
    
    }
  @keyframes right-animation-logo {
  0% {
    opacity: 0;
    transform: translateX(25px) translateY(15px) rotate(210deg) skew(-30deg); 
  }
  
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0) rotate(210deg) skew(-30deg);
  }
  }
  
  .harallelogram-button {
    transform: scale(0.9) translateY(7px) translateX(-1px);
    opacity: 0;
    transition: opacity 0.5s;
    
  }
  
  
  .button-hexagon-full {
    position: relative;
    height: 80px;
    z-index: 2;
    transform: translateX(-3.5px) translateY(-11.7px);
    opacity: 0;
  }

  /*PARALELOGRAMO SERVICIO */
  .harallelogram-service {
    /*filter: invert(49%) sepia(100%) saturate(400%) hue-rotate(2deg) brightness(100%) contrast(103%);*/
    background-color: var(--secondary-color);
  }


  /*paralelogramo del logo */
  .harallelogram-entrance-top ,
  .harallelogram-entrance-right ,
  .harallelogram-entrance-left {
    background-color: var(--primary-color);

  }
  .harallelogram-logo-container {
    transform: translateY(6px);
  }
  .harallelogram-entrance-left {
    animation: left-animation-logo 1s ease 0s 1 normal none;
  }
  @keyframes left-animation-logo {
	0% {
		opacity: 0;
		transform: translateX(-50px) translateY(30px) rotate(-30deg) skew(-30deg); 
	}

	100% {
		opacity: 1;
		transform: translateX(0px) translateY(0) rotate(-30deg) skew(-30deg);
	}
}
  
  .harallelogram-entrance-top {
    animation: top-animation-logo 0.6s ease 0s 1 normal none;
  }

  @keyframes top-animation-logo {
	0% {
		opacity: 0;
		transform: translateY(-50px) rotate(90deg) skew(-30deg); 
	}

	100% {
		opacity: 1;
		transform: translateY(0) rotate(90deg) skew(-30deg);
	}
}
  
  .harallelogram-entrance-right  {
    animation: right-animation-logo 0.8s ease 0s 1 normal none;
  }
  @keyframes right-animation-logo {
	0% {
		opacity: 0;
		transform: translateX(50px) translateY(30px) rotate(210deg) skew(-30deg); 
	}

	100% {
		opacity: 1;
		transform: translateX(0px) translateY(0) rotate(210deg) skew(-30deg);
	}
}


  /*paralelogramo checkbox*/

  .harallelogram-checkbox .haralellogram {
    background-color: #010A66;
  }

  /*boton de enviar form*/
 
  .button-hexagon-yellow{
    border: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 70px;
    width: 70px;
    background: url('/public/images/icons/button-yellow.png');
    background-size: cover ;
    cursor: pointer;
    transition: 0.1s;  
  }
  .button-hexagon-yellow .harallelogram {
    background-color: var(--secondary-color);
  }
  .button-hexagon-yellow:hover{
    background: none;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .button-hexagon-yellow:hover .harallelogram-container{
  opacity: 1;
  transition: 1s;
  }


    .button-hexagon-yellow:hover .harallelogram-c {
      animation: left-animation-logo 0.3s ease-in-out 0s 1 normal none;
    }
    .button-hexagon-yellow:hover .harallelogram-a {
      animation: left-animation-logo 0.3s ease-in-out 0s 1 normal none;
    }
    .button-hexagon-yellow:hover .harallelogram-b {
      animation: top-animation-logo 0.5s ease-in-out 0s 1 normal none;
    }
    .button-hexagon-yellow:hover .harallelogram-d {
      animation: top-animation-logo 0.5s ease-in-out 0s 1 normal none;
    }
    .button-hexagon-yellow:hover .harallelogram-e {
      animation: right-animation-logo 0.7s ease-in-out 0s 1 normal none;
    }
    .button-hexagon-yellow:hover .harallelogram-f {
      animation: right-animation-logo 0.7s ease-in-out 0s 1 normal none;
    }
    .button-hexagon-yellow:hover .button-hexagon-full {
      opacity: 1;
      transition: opacity 1s ease-in;
     }
  

     /*botton de region del contacto*/

     .harallelogram-checkbox {
      transform: scale(250%) translateY(-10px);
      z-index: 1;
      position: relative;
      cursor: pointer;
     }
   
     .harallelogram-checkbox .harallelogram {
       z-index: 2;
     transition: box-shadow 1s ease;
     
    
    
     }
     .harallelogram-checkbox:hover .harallelogram {
       z-index: 2;
     transition: box-shadow 1s ease;
     box-shadow: 0 0 0.2rem 1px rgb(235, 235, 236);
     
     }
       .selected .harallelogram {
       z-index: 2;
     transition: box-shadow 1s ease;
     box-shadow: 0 0 0.2rem 1px rgb(218, 217, 217);
     
     }
     .selected:hover .harallelogram {
       z-index: 2;
     transition: box-shadow 1s ease;
     box-shadow: 0 0 0.2rem 1px rgb(218, 217, 217);
     
     }
     .harallelogram-checkbox:hover .contact-main-title{
       z-index: 2;
     transition: box-shadow 1s ease;
    
     }
    

     /* */ 