.carousel {
    max-width: 90%;
    margin: auto;
    position: relative;
    margin: 1px auto;
  }
  .carousel-container-image {
    object-fit: cover;
  }
  
  .slick-slide img {
    width: 490px;
    height: 350px;
    object-fit: cover;
    /*border: 1px solid rgb(255, 255, 255);*/
  }
  

  .slick-prev:before, .slick-next:before{
    font-size: 30px;
    opacity: 1;
    color: white;
  }
  .slick-prev, .slick-next {
    width: 70px;
    height: 70px;
    z-index: 10;
}

/*.slick-prev::before, .slick-next::before {
    content: '';
}*/
  
  .carousel .slick-prev {
    left: -85px;
    top: 160px;
  }
  
  .carousel .slick-next {
    right: -75px;
    top: 160px;
  }
  
  .carousel .slick-dots {
    text-align: center;
    margin: auto;
    z-index: 1;
    left: -10px;
  }
  
  .carousel .slick-dots li {
    display: inline-block;
    margin: 0 15px;
    top: 15px;
  }
  
  .carousel .slick-dots li button {
    font-size: 20px;
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .carousel .slick-dots li button::before{
    color: transparent;
  }
  
  .carousel .slick-dots li.slick-active button {
    background-color: #333;
    color: white;
  }

  /*@media screen and (max-width: 767px) {
    .Carousel{
        max-width: 70%;
    }
    .slick-slide img {
        height: 200px;
    }
    .Carousel .slick-dots li {
        display: inline-block;
        margin: 0 10px;
        top: 30px;
    }
  }*/